:root {
    --primary-color: rgb(217 119 6);
    --secondary-color: rgb(146 64 14);
    --background-color: rgb(255 251 235);
}
*{
    margin: 0;
}
body{
    margin: 0px;
}
nav {
    display: none;
}

header {
    position: sticky;
    top: 0px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

header>figure {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: start;

}

header figcaption {
    font-weight: 800;
    font-size: 25px;
}

#hero-section {
    padding: 5%;
    height: 300px;
    background-size: cover;
    text-align: center;
    background-image: url("https://media.istockphoto.com/id/1010335754/photo/photo-blurred-of-coffee-shop-or-modern-library-abstract-bokeh-light.jpg?s=612x612&w=0&k=20&c=flGA4sPUU5J_4eK2YwVOb5iDmmnFQjbOxVaq12F4FxM=");
    color: white;
    padding-top: 30%;
}

button {
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 3%;
    transition: all;
}

button:hover {
    background-color: var(--secondary-color);
}

#hero-section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

#view {
    background-color: white;
        color: black;
}

h1{
    text-shadow: 5px 5px 10px rgb(164, 158, 36);
}

.subTitle {
    font-size: smaller;
    padding: 5px;
    background-color: var(--background-color);
    color: var(--secondary-color);
    border-radius: 12px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    
}

.subTitle:hover {
    background-color: grey;
    color: rgb(176, 87, 31);
}

#about-section {
    padding: 5%;
}

#about-section p {
    color: rgb(80, 80, 80);

}

#about-section ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.infoTitle {
    font-size: x-large;
    font-weight: 600;
    color: var(--primary-color);
}

#about-section li {
    padding: 4%;
}
#about-section h2{
    margin-top: 20px;
}

#about-section picture img {
    max-width: 100%;
}

#menu-section {
    text-align: center;
    padding: 5%;
}
#menu-section h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu-section p {
    color: rgb(80, 80, 80);
}

#menu-section ul {
    list-style: none;
    padding: 0px;
}


.item {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 3;
    text-align: start;
    background-color: rgba(219, 212, 212, 0.103);
    border: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(205, 202, 202);
    transition: all 0, 2 ease-in-out;
    padding-bottom: 5%;
}

.item:hover {
    box-shadow: 2px 2px 2px grey;
}

.item img {
    height: 180px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.item figure {
    padding: 0px;
    margin: 0%;

}

.item figcaption {
    padding-left: 5%;
    padding-right: 5%;

}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.price {
    margin-top: 10px;
}

.product-info h4 {
    margin-top: 15px;
    margin-bottom: 1px;
}

#menu-section>button {
    margin: 20px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    padding-left: 30px;
    padding-right: 30px;
}

#menu-section>button:hover {
    background-color: var(--primary-color);
    border: none;
    color: white;
}




#contact-section {
    background-color: var(--background-color);
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#contact-section .subTitle:first-child {
    background-color: rgb(254 243 199/var(--tw-bg-opacity, 1));
    transition: all 0.1 ease-in-out;

}


#contact-section .subTitle:first-child:hover {
    background-color: grey;
}

#contact-section h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact-section aside p {
    list-style: none;
    color: rgb(123, 121, 121);
}
#contact-section aside ul{
    list-style: none;
    color: rgb(123, 121, 121);;
}

#contact-section ul {
    padding: 0px;
}

form {
    margin-top: 20px;
    display: grid;
    background-color: WHITE;
    border-radius: 15px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 3%;
    height: 400px;
    padding: 5%;
    box-shadow: 5px 5px 5px grey;
}

.formorganisation {
    grid-column: 1/-1;


}


#location-section {
    margin-top: 10%;
    text-align: center;
    padding: 5%;

}

#location-section h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#location-section ul {
    list-style: none;
    padding: 0px;
}

#location-section>ul>li {
    margin: 10px;
    border: solid;
    border-width: 1px;
    margin-bottom: 6%;
    padding-bottom: 5%;
    border-color: rgb(227, 227, 227);
    border-radius: 10px;

}

#location-section ul li ul li {
    color: rgb(72, 70, 70);
}

footer {
    padding-top: 5%;
    padding-left: 5%;
    color: white;
    background-color: rgb(19, 19, 55);
    
}

footer ul {
    padding: 0;
    list-style: none;

}
footer li{
    margin-bottom: 5px;
}

footer figure {
    margin: 0px;
    display: flex;
    align-items: center;

}

footer ul li ul li {
    color: rgb(176, 176, 176);
}


#follow{
    display: flex;
    gap: 10px;
}
footer p{
    color: rgb(176, 176, 176);
}
footer p:last-child{
    padding-bottom: 30px;
}
hr{
    margin: 0px;
}




/* -------- tablet break point */

@media only screen and (min-width: 600px) {
    nav {
    display: flex;
    gap: 20px;
    align-items: center;
    
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    
}
header figure img{
    width: 90%;
}
header figure {
    width: 35%;
}
nav a {
    
    text-decoration: none;
    color: grey;
}

nav button{
    margin-top: 3%;
    padding-left: 30px;
    padding-right: 30px;
}
header figure figcaption {
    font-size: 20px;

}
  
#hero-section {
    padding: 15%;
    height: 200px;
    color: white;
    padding-top: 20%;
}
h1{
    font-size: 50px;
}

#hero-section div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}
#menu-section ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}
}